/* CSS work in progress */
body {
    position: relative;
    background: linear-gradient(45deg, #1f3797, #041f8b, #051969, #000000);
    margin: 5px;
    color: #fff;
    font-size: 2rem;
    min-height: 100vh; /* Gradient will fill the viewport */
    background-size: 400% 400%;
    animation: gradient-animation 30s ease infinite;
    z-index: 0; /* Ensure body content is visible */
    overflow: auto;
}
/* Resume button on Index.html */
.button-link {
    display: inline-block;
    padding: 3px 3px;
    background-color: #070800;
    color: rgb(244, 241, 241); /* Text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold;
    text-align: center;
    border-color: #60dbfdb5;
}

.button-link:hover {
    background-color: #8a1c94; /* Darker color on hover */
}

.index-header {
    background-clip: text;
    color: transparent;
    background-image:
        linear-gradient(90deg, red, blue);
    /*text-shadow: 2px 5px 3px #090c0e;*/
    font-size: 4rem; 
    text-align: center;
    margin: 20px 0;
}

.subheading {
    font-size: 3rem;
    text-align: center;
}

/* Styling links */
body a:link {
    color: #60dbfdb5;
    font-weight: bold;
    text-decoration: none;
}

body a:visited {
    color: #fc0ae8;
}

/* Gradient animation */
@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.white-container {
    background-color: rgba(21, 38, 39, 0.126);
    padding: 10px;
    border-radius: 20px 10px 10px 20px;
}





.footer-container {
    background-color: #000c0658;
    padding: 0.2px;
    color: #fbfbfb;
}

