/* Project Portfolio CSS */

/* IMPORTS */

/* Font Imports */
@import url('https://fonts.cdnfonts.com/css/lexipa');
@import url('https://fonts.cdnfonts.com/css/nova-stamp');
@import url('https://fonts.cdnfonts.com/css/pic0');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*color: black;*/

}

body {
    /*position: relative;
    min-height: 100vh;
    
    /* Grid pattern on top of background image */
    /*background-color: #d2d2d2;
    background-image: 
        repeating-linear-gradient(
            to right, transparent 0 100px,
            #25283b22 100px 101px),
        repeating-linear-gradient(
            to bottom, transparent 0 100px,
            #25283b22 100px 101px
        );*/
    background: linear-gradient(90deg,#30012e,#08022c);
    /*background-color: #052a47;*/
}
/*
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: url(/assets/colorful-2174045_1920.png);
    background-color: ;
    background-size: cover;
    background-position: top left;
    background-repeat: repeat;
    z-index: -1;
    pointer-events: none;
    
}*/

.hero-background {
    display: grid;
    place-items: center; /* centers both vertically and horizontally */
    /*height: 100vh;*/
    /*background-image: url(/assets/night-4489561_1920.jpg);*/
    background-color: black;
    background-size: cover;
    background-position: center;
    /*min-height: 100vh; <-- Space below paragraph*/ 
    /*margin-bottom: 10px; /* margin space between scrolling skills and this section */
}

.hero-background .author{
    font-family: 'NOVA STAMP', sans-serif;
    text-align: center;
    max-width: 300px;
    color: #f4effa;; /* color inside hero card */
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
                                                
}

.hero-background .author{
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start; /* Aligns text to the left */
    gap: 0.5rem;
}
/* Outer Hero Card where lights move */
.hero-background .author .card{
    width: 410px; /* 254*/
    height: 190px; /*190*/
    position: relative;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    /* This section is for the animated color block */
    display: grid;
    place-items: center; /* Controls the gradient square position */
    background: ;
    margin-top: 4rem; /* height relative to top frame */
    margin-bottom: 2rem;
    margin-left: -3.5rem; /* -2 centers and -30 aligns left to where i wanted it originally */

}
/* Inside the Hero Card */
.hero-background .author .card .card2{
    width: 400px;
    height: 180px; 
    background: black;
    color: #f4effa;;
    position: relative;
    display: grid;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;

}

.hero-background .author .card .card2 h1{
    z-index: 1;
    color: ;
    font-size: 3em;
}

.hero-background .author .card .card2 p{
    z-index: 1;
    color:;
    font-size: 2em;
}

.hero-background .author .card::before{
    content:'';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, #951d46, #0fa3b1);
    height: 250%;
    animation: rotBGimg 4.5s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg{
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.hero-background .author .card::after{
    conent: "";
    position: absolute;
    background: #64861b;
    inset: 5px;
    border-radius: 15px;
}

.logo{
    width: 400px;
    height: auto;
}

.quote {
    color: #f4effa;
    margin: 1rem; 
}

.intro-paragraph {
    grid-column: 1 / -1; /* spans all columns */
    width: 100%;
    color: #f4effa;
    margin-left: 4rem;
  }

/* Project Portfolio Title */
.main_title h1{
    margin: 20px;
    text-align: center;
    font-family: 'pic0', sans-serif;
    font-size: 5em;
    line-height: 1em;
    position: relative;
    color: #f4effa;
}

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    /* Animating the Data Web Project Slider */
    animation: autoRun 65s linear infinite;
    z-index: 2; /* To overlap my photo # has to be greater*/
    
}

.scroller{
    max-width: 100%;
    color: rgb(255, 255, 255);
    background: #0fa3b1;
}

.scroller[data-animated=true]{
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg, 
        transparent, 
        white 20%,
        white 80%,
        transparent
    );
    mask: linear-gradient(
        90deg, 
        transparent, 
        white 20%,
        white 80%,
        transparent
    );
}

.scroller[data-animated=true] .scroller_inner {
    flex-wrap: nowrap;
    animation: scroll 45s linear infinite;
}



.scroller_inner{
    padding-block: 1rem;
    
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
}

/* Animation for Skill's Scroller */
@keyframes scroll {
    to {
        transform: translate(100%); /* using -100% movies the opposite direction */
    }

}



/* Animation of the Item Slider 
rotateX() moves item for particular view, while
rotateY() moves item in the 3D space */
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-12deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-12deg) rotateY(360deg);
    }
}

/* Note that the distance between the slider items
has to be 360 deg/quantity of items = x degrees
Therefore, if I have 5 items, 360/5 = 72 deg increments
Your first item starts at 0 degrees. You increment each
item by the x degrees calculated 
Basically rotateY of item at position: 
(position - 1) * (360 deg/quantity) */

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        /* This positions the items in the 3D circle on the Y axis. Position and Quantity are your variables used in the HTML within the style class */
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);

}

.banner .slider .item img{
    width: 100%;
    height: 100%;

}

.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1; /* level in the z-index for overlapping */

}

/* Banner Headings */
.banner .content h1{
    font-family: 'Pic0', sans-serif;
    font-size: 10em;
    line-height: 1em;
    position: relative;
    color: #f4effa;
}

.banner .content h1::after{
    position:absolute;
    inset: 0 0 0 0;
    conent: attr(data-content);
    z-index: 3; /* This number is relevant to the z-index of the .model for overlapping. Must be+1 of the z-index from the .model*/

}

.banner .content h2{
    font-size: 3em;
}

.banner .content .myphoto{
    background-image: url(/assets/LMVS_Tranps2a.png);
    width: 100%;
    height: 75vh; /* 75 is right angle for optical effect*/
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 2;
}

/* Analytics and Development Subtitle */
.banner .content .project-details{
    font-family: 'lexipa', sans-serif;
    /*text-align: left;*/
    max-width: 300px;
    color: #f4effa;;
    margin-right: 160px;
                                                
}
