/* CSS work in progress */
body{
    /*background: #fae6f9;
    background-image: url("https://github.com/vara-co/portfolio/blob/main/images/bk_digital01.jpg?raw=true");
    background-repeat: ;
    background-size: 100%;
    color: rgb(243, 84, 206)*/
    background: #2f5548;
    background: linear-gradient(0deg, rgb(2, 7, 66) 0%, rgb(65, 2, 51) 100%);
    margin: 50px ;
    color: #fff;
    
}

.white-container{
    background-color: rgba(21, 38, 39, 0.126); /* In rgba the A is for Alpha, which is the level of opacity */
    padding: 10px;
    border-radius: 20px 10px 10px 20px;
}

.footer-container{
    background-color: #000c0658; /* In rgba the A is for Alpha, which is the level of opacity */
    padding: 0.2 px;
    color: #fbfbfb;
}

/* styling unvisited links */
a:link {
    color: #75e8ffb5;
    font-weight: bold;
}

/* styling visited links*/
a:visited {
    color: rgb(164, 244, 84) ;
}